*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    background-color: blueviolet;
    transition: 1s;
}
.main{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width:30rem;
    border:5px solid yellow;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;;

}
button{
    margin-top:5px;
    font-size:25px;
    color:brown;
    display:block;
    width:100%;
    background-color: aqua;
    border:none;
    border-radius: 5px;
}
